{{- if or (eq .pc_loc "laptop") (eq .pc_loc "desktop") }}
[Unit]
Description=MPD Scribbler
Requires=mpd.service
After=mpd.service

[Service]
ExecStart=/usr/bin/mpdscribble --no-daemon

[Install]
WantedBy=default.target
{{ end }}