{{- $pc_loc := promptString "PC location (work, desktop, laptop, other)" -}}
verbose = true
color = "on"

[data]
pc_loc = "{{- $pc_loc -}}"

[gpg]
recipient = "27B49A4ADC4B469DC8F2BDD91769FEA6B860FF90"
