#
# Executes commands at login pre-zshrc.
#
# Authors:
#   Sorin Ionescu <sorin.ionescu@gmail.com>
#

#
# Browser
#

if [[ "$OSTYPE" == darwin* ]]; then
  export BROWSER='open'
fi

#
# Qt interface
#

[ "$XDG_CURRENT_DESKTOP" = "KDE" ] || [ "$XDG_CURRENT_DESKTOP" = "GNOME" ] || export QT_QPA_PLATFORMTHEME="qt5ct"

#
# Docker Rootless
#
export DOCKER_HOST=unix://$XDG_RUNTIME_DIR/docker.sock

#
# Intel switch off DRI 3
#

export LIBGL_DRI3_DISABLE=1

#
# Editors
#

export EDITOR='code --new-window --wait'
export VISUAL='code --new-window --wait'
export PAGER='less'

#
# Terminal
#

export TERMINAL='kitty'

#
# FZF
#

export FZF_CTRL_R_OPTS="--preview 'echo {}' --preview-window down:3:hidden:wrap --bind '?:toggle-preview' --bind 'ctrl-y:execute-silent(echo -n {2..} | xclip -selection clipboard)'"

#
# Language
#

if [[ -z "$LANG" ]]; then
  export LANG='en_US.UTF-8'
fi

#
# GoLang
#

export GOPATH="$HOME/.go"

#
# Paths
#

# Ensure path arrays do not contain duplicates.
typeset -gU cdpath fpath mailpath path

# Set the list of directories that cd searches.
# cdpath=(
#   $cdpath
# )

export NPM_PACKAGES="${HOME}/.npm-packages"
export NODE_PATH="$NPM_PACKAGES/lib/node_modules:$NODE_PATH"
export MANPATH="$NPM_PACKAGES/share/man:$MANPATH"
export RUST_SRC_PATH="$(rustc --print sysroot)/lib/rustlib/src/rust/library"

# Set the list of directories that Zsh searches for programs.
path=(
  /usr/bin/core_perl
  /usr/bin/site_perl
  /usr/bin/vendor_perl
  /usr/lib/jvm/default/bin
  /usr/local/{bin,sbin}
  $GOPATH/bin
  $HOME/.cargo/bin
  $HOME/.dotnet/tools
  $HOME/.local/bin
  $HOME/.nimble/bin
  $HOME/.node_modules/bin
  $NPM_PACKAGES/bin
  $path
)

#
# Less
#

# Set the default Less options.
# Mouse-wheel scrolling has been disabled by -X (disable screen clearing).
# Remove -X and -F (exit if the content fits on one screen) to enable it.
export LESS='-i -M -R -w -X -z-4'

# Set the Less input preprocessor.
# Try both `lesspipe` and `lesspipe.sh` as either might exist on a system.
if (( $#commands[(i)lesspipe(|.sh)] )); then
  export LESSOPEN="| /usr/bin/env $commands[(i)lesspipe(|.sh)] %s 2>&-"
fi

#
# Temporary Files
#

if [[ ! -d "$TMPDIR" ]]; then
  export TMPDIR="/tmp/$LOGNAME"
  mkdir -p -m 700 "$TMPDIR"
fi

TMPPREFIX="${TMPDIR%/}/zsh"

#
# Android SDK
#

export ANDROID_HOME="$HOME/AndroidSDK"

#
# Increase history limits
#
export HISTSIZE=100000000
export SAVEHIST=100000000
