[user]
{{- if eq .pass "y" }}
{{- if or (eq .pc_loc "laptop") (eq .pc_loc "desktop") (eq .pc_loc "work") }}
  email = {{ pass "home/email/main" }}
  name = {{ pass "home/git/username" }}
  signingkey = {{ pass "home/gpg-id" }}
{{- else if eq .pc_loc "other" }}
  # email = EMAIL
  # name =  USERNAME
  # signingkey = GPG-ID
{{- end }}
{{- end }}
[core]
  editor = nvim
  pager = delta
  abbrev = 8
[merge]
  tool = nvimdiff
  conflictstyle = diff3
[mergetool "code"]
  cmd = code --new-window --wait --merge $REMOTE $LOCAL $BASE $MERGED
[commit]
  gpgsign = true
[alias]
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[push]
  default = current
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true
  light = false
[diff]
  colorMoved = default
[log]
	abbrevcommit = yes
