[user]
{{- if eq .pass "y" }}
{{- if or (eq .pc_loc "laptop") (eq .pc_loc "desktop") }}
  email = {{ pass "home/email/main" }}
  name = {{ pass "home/git/username" }}
  signingkey = {{ pass "home/gpg-id" }}
{{- else if eq .pc_loc "work" }}
  email = {{ pass "work/email/main" }}
  name =  {{ pass "work/git/username" }}
  signingkey = {{ pass "work/gpg-id" }}
[http]
  sslverify = false
{{- else if eq .pc_loc "other" }}
  # email = EMAIL
 	# name =  USERNAME
  # signingkey = GPG-ID
{{ end }}
{{- end }}
[core]
  editor = emacsclient -t -a=\\\"\\\"
[commit]
  gpgsign = true
[alias]
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[pager]
  diff = diff-so-fancy | less --tabs=1,5 -RFX
  show = diff-so-fancy | less --tabs=1,5 -RFX
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[push]
  default = current
