{{- if eq .pass "y" }}
{{- if eq .pc_loc "laptop" -}}
{{- pass "home/laptop/ssh/id_rsa_pub" }}
{{ else if eq .pc_loc "desktop" -}}
{{- pass "home/desktop/ssh/id_rsa_pub" }}
{{ else if eq .pc_loc "work" -}}
{{- pass "work/ssh/id_rsa_pub" }}
{{ end -}}
{{- end }}