{{ if or (eq .pc_loc "laptop") (eq .pc_loc "work") -}}
[Unit]
Description=PowerNotify
StartLimitIntervalSec=0
After=display-manager.service

[Service]
ExecStart=/bin/cbatticon --icon-type symbolic --low-level 13
Restart=always
RestartSec=60

[Install]
WantedBy=default.target
{{ end }}