activitywatch-bin
alsa-utils
archlinux-keyring
aria2
atuin
base
base-devel
bat
bind
chezmoi
cpio
cryptsetup
cups
dhclient
dnsmasq
downgrade
efibootmgr
emacs
exfat-utils
eza
fd
fuseiso
fzf
gdu
git
git-lfs
gnu-netcat
grub
htop-vim
hunspell-en_gb
hunspell-ru-aot
hyphen-en
hyphen-ru
ifuse
jq
less
linux
linux-firmware
linux-headers
lsof
man-pages
mlocate
mp3info
mtr
neovim
net-tools
networkmanager
networkmanager-openvpn
nftables
nmap
ntfs-3g
ntp
openssh
openvpn
p7zip
pamixer
pandoc-cli
pass # TODO: Install early
pdftk
perl-image-exiftool
pkgfile
pulseaudio-alsa
ripgrep
rsync
samba
sshfs
sudo
sysstat
texlive-fontsrecommended # for pandoc
time
tmux
torsocks
translate-shell
udisks2 # TODO: Use systemd
unrar
unrar-free
usbutils
vifm
vim-spell-ru
webtorrent-cli
wget
windscribe-cli
yay-bin
zip
zsh
{{- if eq .pc_loc "desktop" }}
amd-ucode
{{- end }}
{{- if eq .pc_loc "laptop" }}
ethtool
powertop
smartmontools
tlp
{{- end }}
{{- if or (eq .pc_loc "laptop") (eq .pc_loc "desktop") }}
mpv
playerctl
toxic
transmission-cli
tremc-git
yt-dlp
{{- end }}
{{- if or (eq .pc_loc "laptop") (eq .pc_loc "work") }}
intel-ucode
{{- end }}
