alsa-utils
aspell
base
base-devel
bat
bind-tools
chezmoi-git
colordiff
cpio
cryptsetup
cups
dhclient
downgrade
efibootmgr
elinks
emacs
exa
exfat-utils
expac
fd
fuseiso
fzf
git
git-lfs
gnu-netcat
grub
gvim
htop
hunspell-en_US
hunspell-ru-aot
hyphen-en
hyphen-ru
i7z
jq
languagetool
less
linux
linux-firmware
linux-headers
lsof
man-pages
mlocate
ncdu
neomutt
neovim
net-tools
networkmanager
networkmanager-openvpn
nftables
nmap
ntfs-3g
ntp
offlineimap
openssh
openvpn
p7zip
pacutils
pamixer
pass # TODO: Install early
pdftk
pkgfile
pulseaudio
pulseaudio-alsa
pv
qemu-arch-extra
restic
ripgrep
rsync
rxvt-unicode-patched # TODO: Temp solution for ssh
samba
sshfs
sysstat
telegram-cli-git # TODO: Use CLI or EMACS version
terminus-cyrillic
time
tmux
topgrade
torsocks
translate-shell
udisks2 # TODO: Use systemd
unrar
unrar-free
urlscan-git
usbutils
vbetool
vifm
w3m
wget
windscribe-cli
yay
zip
zsh
{{- if eq .pc_loc "desktop" }}
amd-ucode
{{- end }}
{{- if eq .pc_loc "laptop" }}
ethtool
powertop
smartmontools
tlp
{{- end }}
{{- if eq .pc_loc "work" }}
kyocera-cups
{{- end }}
{{- if or (eq .pc_loc "laptop") (eq .pc_loc "desktop") }}
epson-inkjet-printer-escpr
mpc
mpd
mpdscribble
mpv
ncmpcpp
peerflix # TODO: Find another tool
toxic
transmission-cli
tremc-git
youtube-dl
{{- end }}
{{- if or (eq .pc_loc "laptop") (eq .pc_loc "work") }}
intel-ucode
{{- end }}
