alsa-utils
aspell
base
base-devel
bat
bind-tools
chezmoi-git
colordiff
cpio
cups
dhclient
downgrade
efibootmgr
elinks
emacs
exa
exfat-utils
expac
fd
feh
fzf
git
git-lfs
gnu-netcat
grub
gvim
htop
hunspell-ru-aot # TODO: Replace by other
hyphen-en
hyphen-ru
i7z
jq
less
linux
linux-headers
lsof
man-pages
mlocate
ncdu
neomutt
neovim
net-tools
networkmanager
networkmanager-openvpn
nmap
ntfs-3g
ntp
openssh
openvpn
p7zip
pacutils
pamixer
pass # TODO: Install early
pdftk
pkgfile
pulseaudio
pulseaudio-alsa
pv
qemu-arch-extra
ripgrep
rsync
rxvt-unicode-patched # TODO: Temp solution for ssh
samba
sshfs
sysstat
telegram-cli-git # TODO: Use CLI or EMACS version
terminus-cyrillic
time
tmux
torsocks
translate-shell
udisks2 # TODO: Use systemd
unrar
unrar-free
vbetool
vifm
w3m
wget
windscribe-cli
xclip
yay
zip
zsh
{{- if eq .pc_loc "desktop" }}
amd-ucode
{{- end }}
{{- if eq .pc_loc "laptop" }}
laptop-mode-tools
powertop
{{- end }}
{{- if or (eq .pc_loc "laptop") (eq .pc_loc "desktop") }}
epson-inkjet-printer-escpr
mpc
mpd
mpdscribble
mpv
ncmpcpp
peerflix # TODO: Find another tool
toxic
transmission-cli
tremc-git
youtube-dl
{{- end }}
{{- if or (eq .pc_loc "laptop") (eq .pc_loc "work") }}
intel-ucode
{{- end }}
