{{- if ne .pc_loc "other" -}}
adwaita-qt
awesome-terminal-fonts
chromium
dunst
evince
feh
firefox
firefox-i18n-ru
firefox-spell-ru
flameshot
gimp
gnome-themes-extra
guvcview
i3-wm
i3lock
i3status
kitty
libreoffice-fresh
lxappearance
nerd-fonts-hack
network-manager-applet
noto-fonts
noto-fonts-cjk
noto-fonts-emoji
pavucontrol
py3status
python-mpd2
qt5ct
redshift # TODO: Create config
rofi
rofi-dmenu
rofi-greenclip
shadowfox-updater
speedcrunch
telegram-desktop
tigervnc
tor-browser
ttf-ms-fonts
vimiv
winetricks
xclip
xdotool
xf86-input-keyboard
xf86-input-mouse
xorg
xorg-xinit
xsane
xsel
xss-lock
zathura
zathura-djvu
zathura-pdf-mupdf
zathura-ps
{{- if eq .pc_loc "desktop" }}
xf86-video-amdgpu
{{- end }}
{{- if eq .pc_loc "laptop" }}
bbswitch
bumblebee
cbatticon
lib32-primus
nvidia-390xx
primus
xf86-input-synaptics
xorg-xbacklight
{{- end }}
{{- if or (eq .pc_loc "laptop") (eq .pc_loc "desktop") }}
dropbox
ynab4
{{- end }}
{{- if or (eq .pc_loc "laptop") (eq .pc_loc "work") }}
xf86-video-intel
xf86-video-nouveau
{{- end }}
{{- end }}
