{{- if ne .pc_loc "other" -}}
adwaita-qt
awesome-terminal-fonts
chromium
dmenu
dunst
evince
firefox
flameshot
gimp
gnome-themes-extra
guvcview
i3-wm
i3lock
i3status
kitty
libreoffice-fresh
lxappearance
nerd-fonts-hack
network-manager-applet
noto-fonts
noto-fonts-emoji
pavucontrol
qt5ct
redshift # TODO: Create config
rofi
rofi-dmenu
rofi-greenclip
speedcrunch
telegram-desktop
tigervnc
tor-browser
ttf-ms-fonts
winetricks
xdotool
xf86-input-keyboard
xf86-input-mouse
xorg
xorg-xinit
xsane
xss-lock
zathura
zathura-djvu
zathura-pdf-mupdf
zathura-ps
{{- if eq .pc_loc "desktop" }}
kde-applications-meta
plasma-meta
xf86-video-amdgpu
{{- end }}
{{- if eq .pc_loc "laptop" }}
xf86-input-synaptics
xorg-xbacklight
{{- end }}
{{- if or (eq .pc_loc "laptop") (eq .pc_loc "desktop") }}
dropbox
ynab4
{{- end }}
{{- if or (eq .pc_loc "laptop") (eq .pc_loc "work") }}
xf86-video-intel
xf86-video-nouveau
{{- end }}
{{- end }}
