[general]
accounts = main
pythonfile = ~/.config/offlineimap/script.py

[mbnames]
enabled = yes
filename = ~/.mutt/mailboxes
header = "mailboxes "
peritem = "+%(foldername)s"
sep = " "
footer = "\n"

[Account main]
autorefresh = 0.2
quick = 10
localrepository = main-local
remoterepository = main-remote

[Repository main-local]
type = Maildir
localfolders = ~/Mail

[Repository main-remote]
type = IMAP
{{- if eq .pass "y" }}
{{- if or (eq .pc_loc "laptop") (eq .pc_loc "desktop") }}
remotehost = {{ pass "google.com/mail/main/imap" }}
remoteuser = {{ pass "google.com/mail/main/username" }}
sslcacertfile = /etc/ssl/certs/ca-certificates.crt
{{ else if eq .pc_loc "work" }}
remotehost = {{ pass "work/imap.dsec.ru/url" }}
remoteuser = {{ pass "work/imap.dsec.ru/username" }}
ssl = no
{{ end }}
{{- end -}}
remotepasseval = get_pass()
keepalive = 60
holdconnectionopen = yes
