#! /usr/bin/env python2
from subprocess import check_output


def get_pass():
{{- if eq .pass "y" }}
{{- if or (eq .pc_loc "laptop") (eq .pc_loc "desktop") }}
    return check_output("pass google.com/mail/main/pass", shell=True).splitlines()[0]
{{- else if eq .pc_loc "work" }}
    return check_output("pass work/imap.dsec.ru/pass", shell=True).splitlines()[0]
{{ end }}
{{ end }}
def get_username():
{{- if eq .pass "y" }}
{{- if or (eq .pc_loc "laptop") (eq .pc_loc "desktop") }}
    return check_output("pass google.com/mail/main/username", shell=True).splitlines()[0]
{{- else if eq .pc_loc "work" }}
    return check_output("pass work/imap.dsec.ru/username", shell=True).splitlines()[0]
{{ end }}
{{- end -}}
