;;; $DOOMDIR/config.el -*- lexical-binding: t; -*-

;; Place your private configuration here! Remember, you do not need to run 'doom
;; sync' after modifying this file!


;; Some functionality uses this to identify you, e.g. GPG configuration, email
;; clients, file templates and snippets.
(setq user-full-name "saruman9"
      user-mail-address "rum.274.4@gmail.com")

;; Doom exposes five (optional) variables for controlling fonts in Doom. Here
;; are the three important ones:
;;
;; + `doom-font'
;; + `doom-variable-pitch-font'
;; + `doom-big-font' -- used for `doom-big-font-mode'; use this for
;;   presentations or streaming.
;;
;; They all accept either a font-spec, font string ("Input Mono-12"), or xlfd
;; font string. You generally only need these two:
;; (setq doom-font (font-spec :family "monospace" :size 12 :weight 'semi-light)
;;       doom-variable-pitch-font (font-spec :family "sans" :size 13))
{{- if eq .pc_loc "laptop" }}
(setq doom-font (font-spec :family "monospace" :size 13)
      doom-variable-pitch-font (font-spec :family "sans" :size 13))
{{- else }}
(setq doom-font (font-spec :family "monospace" :size 12)
      doom-variable-pitch-font (font-spec :family "sans" :size 12))
{{- end }}

;; There are two ways to load a theme. Both assume the theme is installed and
;; available. You can either set `doom-theme' or manually load a theme with the
;; `load-theme' function. This is the default:
(setq doom-theme 'doom-gruvbox)

;; If you use `org' and don't want your org files in the default location below,
;; change `org-directory'. It must be set before org loads!
(setq org-directory "~/org/")

;; This determines the style of line numbers in effect. If set to `nil', line
;; numbers are disabled. For relative line numbers, set this to `relative'.
(setq display-line-numbers-type t)

(setq-default fill-column 100)

(after! langtool
  (setq langtool-default-language "ru-RU"))

(after! emacs-everywhere
  (push "Telegram" emacs-everywhere-markdown-windows)
  (push "firefox" emacs-everywhere-markdown-apps))

(after! git-gutter
  (setq git-gutter:disabled-modes '(image-mode pdf-view-mode)))

(map! (:when (featurep! :tools lsp)
       :n "gh" 'lsp-describe-thing-at-point))

(use-package! visual-fill-column
  :config
  (setq-hook! 'visual-fill-column-mode-hook fill-column 100)
  (add-hook! markdown-mode
             #'visual-fill-column-mode))

(after! docker
  (setenv "DOCKER_HOST" (concat "unix://" (getenv "XDG_RUNTIME_DIR") "/docker.sock")))

;; Here are some additional functions/macros that could help you configure Doom:
;;
;; - `load!' for loading external *.el files relative to this one
;; - `use-package!' for configuring packages
;; - `after!' for running code after a package has loaded
;; - `add-load-path!' for adding directories to the `load-path', relative to
;;   this file. Emacs searches the `load-path' when you load packages with
;;   `require' or `use-package'.
;; - `map!' for binding new keys
;;
;; To get information about any of these functions/macros, move the cursor over
;; the highlighted symbol at press 'K' (non-evil users must press 'C-c c k').
;; This will open documentation for it, including demos of how they are used.
;;
;; You can also try 'gd' (or 'C-c c d') to jump to their definition and see how
;; they are implemented.
