#!/bin/env sh
if [[ $# -eq 2 ]]; then
{{- if (eq .pc_loc "work") }}
    emc --eval "(ediff-files \"$1\" \"$2\")"
{{- else }}
    code -n -w -d "$1" "$2"
{{- end }}
else
{{- if (eq .pc_loc "work") }}
    emc --eval "(ediff-files3 \"$1\" \"$2\" \"$3\")"
{{- else }}
    code -n -w -d "$1" "$2" "$3"
{{- end }}
fi
