icons = "awesome"

[theme]
name = "slick"
[theme.overrides]
alternating_tint_bg = "#414141"
alternating_tint_fg = "#0f0f0f"
info_fg = "#0f0f0f"

{{ if or (eq .pc_loc "laptop") (eq .pc_loc "desktop") -}}
[[block]]
block = "music"
player = "playerctld"
marquee = false
# marquee_interval = 1
# marquee_speed = 0.2
dynamic_width = true
max_width = 100
buttons = ["prev", "play", "next"]
hide_when_empty = true
{{- end }}

[[block]]
block = "disk_space"
path = "/"
info_type = "available"
format = "{icon} / {available}"
unit = "GB"
interval = 20
warning = 20.0
alert = 10.0

[[block]]
block = "disk_space"
{{ if eq .pc_loc "desktop" -}}
path = "/media"
format = "{icon} /media {available}"
{{ end -}}
{{ if eq .pc_loc "laptop" -}}
path = "/home"
format = "{icon} /home {available}"
{{ end -}}
info_type = "available"
unit = "GB"
interval = 20
warning = 20.0
alert = 10.0

[[block]]
block = "net"
format = "{ssid}:{ip} ({signal_strength}){speed_up}{speed_down}"
hide_inactive = true

[[block]]
block = "networkmanager"
interface_name_include = ["tun\\d+"]

[[block]]
block = "battery"
allow_missing = true
hide_missing = true

[[block]]
block = "temperature"
collapsed = false

[[block]]
block = "cpu"
interval = 1

[[block]]
block = "sound"

[[block]]
block = "time"
interval = 1
format = "%a, %d %b — %H:%M:%S"
